.mobile-menu {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  gap: 12px;
  z-index: 100;
  background: var(--color-white);
  transform: translateZ(0);
  will-change: transform;

  .button__label {
    font-size: 12px;
    line-height: 100%;
  }
}