.navigation__search {
  min-width: 320px;
  z-index: 15;

  &-wrapper {
    width: 100%;

    @include tablet {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      max-width: 100%;
      z-index: -1;
      scale: 0.9;
      transition: var(--transition-duration-longer);
    }

    &.is-active {
      @include tablet {
        padding: 70px 20px;
        opacity: 1;
        max-width: 100%;
        scale: 1;
        z-index: 210;
      }

      .navigation__search-bg {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @include tablet {
    min-width: initial;
  }

  &-bg {
    background-color: rgba(3, 8, 13, .42);
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 120dvh;
    opacity: 0;
    visibility: hidden;
    transition: 1.2s;
  }
}