.why {
  .slider__navigation {
    bottom: 0;
    left: 0;

  }

  .slider__pagination {
    justify-content: flex-end;
    flex-wrap: wrap;
    height: fit-content;
    position: absolute;
    right: fluid(72, 12);
    bottom: fluid(72, 12);

    @include mobile {
      right: fluid(62, 30);
      top: fluid(62, 15);
      max-width: 85%;
    }
  }

  .slider__pagination .slider-navigation__pagination-bullet:only-child {
    display: none;
  }
}